{% extends 'base.html'%} 
{% load humanize %}

<!--add title to the tab-->
{% block title %}Welcome{% endblock %}

{% block content %}
{% load static %}



<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">

          <h1 class="display-4">{{user.first_name}} Dashboard</h1>

          <p class="lead">Manage your ABC Library account</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}"> <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div>
  </section>
  {% include 'partials/_alert.html' %}
  
  <section id="dashboard" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Welcome {{user.first_name}}</h2>
          <div class="row">
            <div class="col text-left">
              <a href="{% url 'index' %}" class="btn btn-primary">New Book Search</a>
            </div>
            <div class="col text-right">
              <a href="{% url 'changepass' %}" class="btn btn-primary">Change Password</a>
            </div>
          </div>
          <br />
          <h4>Borrowed and not returned items</h4>
          {% if unreturned_borrows %}
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Borrow Date</th>
                <th scope="col">Due Date</th>
                <th scope="col">Location</th>
                <th scope="col">Overdue</th>
              </tr>
            </thead>
            <tbody>
              {% for borrow in unreturned_borrows %}
              <tr 
              {% if borrow.is_overdue %}
              class="table-warning"
              {% endif %}
              >
                <td>{{forloop.counter}}</td>
                <td>{{borrow.book.title}}</td>
                <td>{{borrow.book.author}}</td>
                <td>{{borrow.borrow_date}}</td>
                <td>{{borrow.due_date}}</td>
                <td>{{borrow.book.library.district}}</td>
                {% if borrow.is_overdue %}
                <td>Yes</td>
                {% else %}
                <td>No</td>
                {% endif %}
              </tr>
              
             
              {% endfor %}

            </tbody>
          </table>
          {% else %}
          <h5>You have not borrowed any items.</h5>
          {% endif %}

          <h4>Overdue charges</h4>
          {% if overdue_unpaid_borrows %}
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Days Overdue</th>
                <th scope="col">Fine (HKD)</th>
              </tr>
            </thead>
            <tbody>
              {% for borrow in overdue_unpaid_borrows %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{borrow.book.title}}</td>
                <td>{{borrow.book.author}}</td>
                <td>{{borrow.overdue_days}}</td>
                <td>${{borrow.book_fine | floatformat }}</td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
          <p>Total fine is ${{total_fine | floatformat }}</p>
          <p>
            <a href="https://example.com/pay" class="btn btn-success mb-2">
              <i class="fas fa-credit-card"></i> Pay
            </a>
            <span>Click here to pay your overdue charges</span>
          </p>
          <p><strong>Supported payment method:</strong> Credit card.</p>
          {% else %}
          <h5>You don't have any outstanding charges.</h5>
          {% endif %}
          
          

          <h4>Reserved items</h4>
          {% if reserved_items %}
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Pickup Library</th>
                <th scope="col">Reserve Date</th>
              </tr>
            </thead>
            <tbody>
              {% for reserve in reserved_items %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{reserve.book.title}}</td>
                <td>{{reserve.book.author}}</td>
                <td>{{reserve.book.library.district}}</td>
                <td>{{reserve.reserve_date}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <p>Please take your reserve item within 3 days of your reserve date!</p>
          {% else %}
          <h5>You don't have any reserved items.</h5>
          {% endif %}
        </div>
      </div>
    </div>
  </section>

{% endblock %}