<h1> register.html </h1>
{% comment "below is testing code" %}
<h1>Test 1: login logout </h1>
{% if user.is_authenticated %}
<h3>user name is {{user.username}} </h3>
<h3>user password is {{user.password}} </h3>
<h3>user email is {{user.email}} </h3>
<h3>library id is {{user.card_id}} </h3>
<h3>phone is {{user.user_phone}} </h3>
<h3>his Reserve period is {{user.rule.reserve_period}}</h3>

{% else %}
<h3> You have logged out </h3>
{% endif %}

<h1>Test 2: Display my variable </h1>
<h3>My variable is {{myvariable}}</h3>

<h1>Test 3: test for loop</h1>

<h2> Loop users </h2>
{% for user in allusers_queryset%}
<h3>current loop is {{forloop.counter}}</h3>
<h3>user name is {{user.username}} </h3>
<h3>user password is {{user.password}} </h3>
<h3>user email is {{user.email}} </h3>
<h3>library id is {{user.card_id}} </h3>
<h3>his Reserve limit is {{user.rule.reserve_limit}}</h3>
{% endfor %}

<h2> loop rule </h2>

{% for rule in allrules_queryset %}
<h3>current loop is {{forloop.counter}}</h3>
<h3> the rule name is {{rule.rule_name}}</h3>
{% endfor %}

<h1> Test 3.5: Filter a rule that has borrow_limit=14</h1>
{% for rule in filterrule_queryset %}
<h3>current loop is {{forloop.counter}}</h3>
<h3>rule name is {{rule.rule_name}}</h3>
{% endfor %}

<h1>Test 4: find out the number of user apply a rule </h1>

{% for user in filteruser_queryset %}
<h3>current loop is {{forloop.counter}}</h3>
<h3>user {{forloop.counter}} is {{user.username}}</h3>

{% endfor %}

<h3>The number of users having this rule is {{filteruser_queryset | length}}</h3>

<h1> Click link to add a user</h1>

<a href="{% url 'login' %}">click here to add a user</a>

{% endcomment %}