{% extends 'base.html' %}
{% load humanize %}

<!-- Add title to the tab -->
{% block title %}Welcome{% endblock %}

{% block content %}
{% load static %}

{% include 'partials/_alert.html' %}

<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            
            
        }

        .flexslider .slides img {
            max-width: 100%;
            max-height: 46px;
            width: auto;
            height: auto;
        }

        .slider-container {
            margin-bottom: 80px;
            text-align: center;
        }

        .slider-container img {
            max-width: 100%;
            height: auto;
        }

        .col-md-20 {
            margin-bottom: 20px;
            margin-right: 10px; 
            display: inline-block;
        }
    </style>

    <!-- Scripts include -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.2/flexslider.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>BC Real Estate</title>
</head>

<body>
    <section id="showcase-inner" class="py-5 text-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1 class="display-4">About Hong Kong Library</h1>
                    <p class="lead">
                        These features make the Hong Kong Library an important place for learning, information, and culture.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Breadcrumb -->
    <section id="bc" class="mt-3">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html"><i class="fas fa-home"></i> Home</a>
                    </li>
                    <li class="breadcrumb-item active">About</li>
                </ol>
            </nav>
        </div>
    </section>

    <section id="about" class="py-10">
        <div class="container">
            <div class="row">
                <div class="col-md-15">
                    <h2>Hong Kong Central Library Introduction</h2>
                    <p class="lead"></p>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-15">  
                    <h5>
                        The 12-storey high building occupies a gross area of 9,400 sq. metres and a floor area of 33,800 sq. metres.<br><br>       
                        The construction cost is HK$690 million. It is the biggest library facility among the Hong Kong Public Libraries System.<br><br>
                        The arch-shaped entrance at the front elevation of the Hong Kong Central Library represents the Gate to Knowledge,
                        while the graphics in the shape of triangle, square and circle denote different meanings. A full range of library facilities on a larger scale.<br><br>
                        The circle stands for the sky, the square for the land and the triangle for accumulation of knowledge.<br><br>
                        With its commissioning in May 2001, the Hong Kong Central Library not only provides but also provides comprehensive
                        reference and information services to a fuller extent. Other major facilities include self-checkout machines,
                        bookdrop service, information kiosks, and Multimedia Information System.
                    </h5>
                    <p class="lead"></p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7" style="text-align: center; margin: 0 auto;">
                    <img
                        src="{{central.photo_main.url}}"
                        alt="{{central.photo_main.url}}"
                        class="img-main img-fluid mb-3"
                        style="max-width: 100%; height:600px;"/>
                    <div style="color: white; background-color: rgba(0, 0, 0, 0.5); padding: 5px;">
                        The counter is the library district is Central, the library address is 66 Causeway Road, Causeway Bay, Hong Kong
                    </div>
                </div>
            </div>

            <!-- Thumbnails for Hong Kong Central Library -->
            <div class="flexslider" id="central-library-slider">
                <ul class="slides">
                    <div class="row mb-1 thumbs" id="image-container">
                        <div class="col-md-10" style="text-align: center; margin: 0 auto;">
                            <div class="container">
                                <div class="col-md-20">
                                    <a href="static/img/homes/library-1.png" data-lightbox="home-images">
                                        <img src="static/img/homes/library-1.png" alt="" class="img-fluid" />
                                    </a>
                                </div>
                                <div class="col-md-20">
                                    <a href="static/img/homes/library-2.png" data-lightbox="home-images">
                                        <img src="static/img/homes/library-2.png" alt="" class="img-fluid" />
                                    </a>
                                </div>
                                <div class="col-md-20">
                                    <a href="static/img/homes/library-3.png" data-lightbox="home-images">
                                        <img src="static/img/homes/library-3.png" alt="" class="img-fluid" />
                                    </a>
                                </div>
                                <div class="col-md-20">
                                    <a href="static/img/homes/library-4.png" data-lightbox="home-images">
                                        <img src="static/img/homes/library-4.png" alt="" class="img-fluid" />
                                    </a>
                                </div>
                                <div class="col-md-20">
                                    <a href="static/img/homes/library-5.png" data-lightbox="home-images">
                                        <img src="static/img/homes/library-5.png" alt="" class="img-fluid" />
                                    </a>
                                </div>
                                <div class="col-md-20">
                                    <a href="static/img/homes/library-6.png" data-lightbox="home-images">
                                        <img src="static/img/homes/library-6.png" alt="" class="img-fluid" />
                                    </a>
                                </div>
                                <div class="col-md-20">
                                    <a href="static/img/homes/library-7.png" data-lightbox="home-images">
                                        <img src="static/img/homes/library-7.png" alt="" class="img-fluid" />
                                    </a>
                                </div>
                                <div class="col-md-20">
                                    <a href="static/img/homes/library-8.png" data-lightbox="home-images">
                                        <img src="static/img/homes/library-8.png" alt="" class="img-fluid" />
                                    </a>
                                </div>
                                <div class="col-md-20">
                                    <a href="static/img/homes/library-9.png" data-lightbox="home-images">
                                        <img src="static/img/homes/library-9.png" alt="" class="img-fluid" />
                                    </a>
                                </div>
                                <div class="col-md-20">
                                    <a href="static/img/homes/library-10.png" data-lightbox="home-images">
                                        <img src="static/img/homes/library-10.png" alt="" class="img-fluid" />
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </ul>
            </div>

            <section id="about" class="py-10">
                <div class="container">
                    <div class="row">
                        <div class="col-md-15">
                            <h2>Kowloon Public Library Introduction</h2>
                            <p class="lead"></p>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-15">  
                            <h5>
                                The Kowloon Public Library is the first purpose-built library building. The first phase was opened on November 16, 1984, 39 years ago,     
                                replacing the Waterloo Road Public Library opened in 1965.<br><br> 
                                The second phase was opened in September 1985. It was opened on the 9th, and the opening ceremony was presided over by the then Governor of Hong Kong,
                                Lady Youde.<br><br> 
                                When it was first completed,
                                it was called the Kowloon Central Library. In order to cope with the opening of the Hong Kong Central Library in 2001,
                                it was renamed the Kowloon Public Library in 2000.
                            </h5>
                            <p class="lead"></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-7" style="text-align: center; margin: 0 auto;">
                            <img
                                src="{{kowloon.photo_main.url}}"
                                alt="{{kowloon.photo_main.url}}"
                                class="img-main img-fluid mb-3"
                                style="max-width: 100%; min-height: 600px;"/>
                            <div style="color: white; background-color: rgba(0, 0, 0, 0.5); padding: 5px;">
                                The counter is the library district is Kowloon, the library address is 5 Pui Ching Road, Kowloon
                            </div>
                        </div>
                    </div>
                    
                    <!-- Thumbnails for Kowloon Public Library -->
                    <div class="flexslider" id="kowloon-library-slider">
                        <ul class="slides">
                            <div class="row mb-2 thumbs" id="image-container">
                                <div class="col-md-10" style="text-align: center; margin: 0 auto;">
                                    <div class="container">
                                        <div class="col-md-20">
                                            <a href="static/img/homes/library-11.png" data-lightbox="home-images">
                                                <img src="static/img/homes/library-11.png" alt="" class="img-fluid" />
                                            </a>
                                        </div>
                                        <div class="col-md-20">
                                            <a href="static/img/homes/library-12.png" data-lightbox="home-images">
                                                <img src="static/img/homes/library-12.png" alt="" class="img-fluid" />
                                            </a>
                                        </div>
                                        <div class="col-md-20">
                                            <a href="static/img/homes/library-13.png" data-lightbox="home-images">
                                                <img src="static/img/homes/library-13.png" alt="" class="img-fluid" />
                                            </a>
                                        </div>
                                        <div class="col-md-20">
                                            <a href="static/img/homes/library-14.png" data-lightbox="home-images">
                                                <img src="static/img/homes/library-14.png" alt="" class="img-fluid" />
                                            </a>
                                        </div>
                                        <div class="col-md-20">
                                            <a href="static/img/homes/library-15.png" data-lightbox="home-images">
                                                <img src="static/img/homes/library-15.png" alt="" class="img-fluid" />
                                            </a>
                                        </div>
                                        <div class="col-md-20">
                                            <a href="static/img/homes/library-16.png" data-lightbox="home-images">
                                                <img src="static/img/homes/library-16.png" alt="" class="img-fluid" />
                                            </a>
                                        </div>
                                        <div class="col-md-20">
                                            <a href="static/img/homes/library-17.png" data-lightbox="home-images">
                                                <img src="static/img/homes/library-17.png" alt="" class="img-fluid" />
                                            </a>
                                        </div>
                                        <div class="col-md-20">
                                            <a href="static/img/homes/library-18.png" data-lightbox="home-images">
                                                <img src="static/img/homes/library-18.png" alt="" class="img-fluid" />
                                            </a>
                                        </div>
                                        <div class="col-md-20">
                                            <a href="static/img/homes/library-19.png" data-lightbox="home-images">
                                                <img src="static/img/homes/library-19.png" alt="" class="img-fluid" />
                                            </a>
                                        </div>
                                        <div class="col-md-20">
                                            <a href="static/img/homes/library-20.png" data-lightbox="home-images">
                                                <img src="static/img/homes/library-20.png" alt="" class="img-fluid" />
                                            </a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </div>
        
            

            <section id="about" class="py-10">
                <div class="container">
                    <div class="row">
                        <div class="col-md-15">
                            <h2>Tseung Kwan O Public Library Introduction</h2>
                            <p class="lead"></p>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-15">  
                            <h5>
                                Tseung Kwan O Public Library started construction in 1999 and was officially opened for service on July 21, 2001.<br><br>       
                                It covers an area of ​​2,200 square meters and the construction cost is HK$53 million. Audio-visual materials 
                                and it has a collection of approximately 170,000 Chinese and English books and is the first library with an independent building.<br><br>
                                Together with the adjacent Tseung Kwan O Swimming Pool and Tseung Kwan O Sports Center,
                                they were all designed by Kwan Sun Ming Architects. In recent years, libraries have also provided more electronic services,
                                including government Wi-Fi wireless Internet services, "Easy Print" self-service printing services, etc.
                            </h5>
                            <p class="lead"></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-7" style="text-align: center; margin: 0 auto;">
                            <img
                                src="{{nt.photo_main.url}}"
                                alt="{{nt.photo_main.url}}"
                                class="img-main img-fluid mb-3"
                                style="max-width: 100%; min-height: 600px;"/> 
                            <div style="color: white; background-color: rgba(0, 0, 0, 0.5); padding: 5px;">
                                The counter is the library district is New Territories, the library address is 9, Wan Lung Road, Tseung Kwan O
                            </div>
                        </div>
                    </div>

                    <!-- Thumbnails for Tseung Kwan O Public Library -->
                    <div class="flexslider" id="tseung-kwan-o-library-slider">
                        <ul class="slides">
                            <div class="row mb-1 thumbs" id="image-container">
                                <div class="col-md-10" style="text-align: center; margin: 0 auto;">
                                    <div class="container">
                                        <div class="col-md-20">
                                            <a href="static/img/homes/library-21.png" data-lightbox="home-images">
                                                <img src="static/img/homes/library-21.png" alt="" class="img-fluid" />
                                            </a>
                                        </div>
                                        <div class="col-md-20">
                                            <a href="static/img/homes/library-22.png" data-lightbox="home-images">
                                                <img src="static/img/homes/library-22.png" alt="" class="img-fluid" />
                                            </a>
                                        </div>
                                        <div class="col-md-20">
                                    <a href="static/img/homes/library-23.png" data-lightbox="home-images">
                                        <img src="static/img/homes/library-23.png" alt="" class="img-fluid" />
                                    </a>
                                </div>
                                <div class="col-md-20">
                                    <a href="static/img/homes/library-24.png" data-lightbox="home-images">
                                        <img src="static/img/homes/library-24.png" alt="" class="img-fluid" />
                                    </a>
                                </div>
                                <div class="col-md-20">
                                    <a href="static/img/homes/library-25.png" data-lightbox="home-images">
                                        <img src="static/img/homes/library-25.png" alt="" class="img-fluid" />
                                    </a>
                                </div>
                                <div class="col-md-20">
                                    <a href="static/img/homes/library-26.png" data-lightbox="home-images">
                                        <img src="static/img/homes/library-26.png" alt="" class="img-fluid" />
                                    </a>
                                </div>
                                <div class="col-md-20">
                                    <a href="static/img/homes/library-27.png" data-lightbox="home-images">
                                        <img src="static/img/homes/library-27.png" alt="" class="img-fluid" />
                                    </a>
                                </div>
                                <div class="col-md-20">
                                    <a href="static/img/homes/library-28.png" data-lightbox="home-images">
                                        <img src="static/img/homes/library-28.png" alt="" class="img-fluid" />
                                    </a>
                                </div>
                                <div class="col-md-20">
                                    <a href="static/img/homes/library-29.png" data-lightbox="home-images">
                                        <img src="static/img/homes/library-29.png" alt="" class="img-fluid" />
                                    </a>
                                </div>
                                <div class="col-md-20">
                                    <a href="static/img/homes/library-30.png" data-lightbox="home-images">
                                        <img src="static/img/homes/library-30.png" alt="" class="img-fluid" />
                                    </a>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>


            <section id="library-rules" class="py-5 bg-light">
                <div class="container">
                    <h2 class="mb-4">Introduction to Library Materials Lending Services*</h2>
                    
                    <div class="card mb-4">
                        <div class="card-header">
                            <h3 class="h5 mb-0">Library Card</h3>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li>Holders of valid library cards issued by the ABC Libraries may borrow and return library materials at any public library and the self-service library stations.</li>
                                <li>A library card is not to be lent or transferred.</li>
                            </ul>
                        </div>
                    </div>
            
                    <div class="card mb-4">
                        <div class="card-header">
                            <h3 class="h5 mb-0">Borrowing Limit for Library Materials</h3>
                        </div>
                        <div class="card-body">
                            <p>Each registered reader may borrow a maximum of {{default_rule.borrow_limit | apnumber | upper}} items of library materials together with accompanying library materials and periodicals.</p>
                        </div>
                    </div>
            
                    <div class="card mb-4">
                        <div class="card-header">
                            <h3 class="h5 mb-0">Time Limit for Borrowing Library Materials</h3>
                        </div>
                        <div class="card-body">
                            <p>Library materials for lending may be borrowed for a period of {{default_rule.borrow_period}} days.</p>
                        </div>
                    </div>
            
                    <div class="card mb-4">
                        <div class="card-header">
                            <h3 class="h5 mb-0">Overdue Fine</h3>
                        </div>
                        <div class="card-body">
                            <p>An overdue fine is imposed on each and every loan item and accompanying library material returned late. The charge is ${{default_rule.fine_per_day | floatformat }} per day.</p>
                        </div>
                    </div>
            
                    <div class="card mb-4">
                        <div class="card-header">
                            <h3 class="h5 mb-0">Replacement Cost for Lost or Damaged Library Materials</h3>
                        </div>
                        <div class="card-body">
                            <p>If any library material borrowed is lost or damaged, the borrower shall be liable to pay to the Government such sum of money as the librarian considers necessary to replace such library material or the whole set of library material of which such library material forms a part. In addition, the borrower may be required to pay a surcharge amounting to 20 per cent of such sum.</p>
                        </div>
                    </div>
            
                    <div class="card mb-4">
                        <div class="card-header">
                            <h3 class="h5 mb-0">Reservation of Library Materials</h3>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li>Each registered reader may reserve a maximum of {{default_rule.reserve_limit}} items of library materials.</li>
                                <li>Reader should take the reserve at the designated library themselves within {{default_rule.reserve_period}} days.</li>
                                <li>The book will be released after {{default_rule.reserve_period}} days.</li>
                            </ul>
                
                        </div>
                    </div>
            
                    <p class="text-muted mt-4">* Please refer to the 'Libraries Regulation' for the regulations of using various library services.</p>
                </div>
            </div>
        </div>
      </section>
</body>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.2/jquery.flexslider-min.js"></script>

{% endblock %}