{% extends 'base.html'%} 
{% load humanize %}

<!--add title to the tab-->
{% block title %}Welcome{% endblock %}

{% block content %}
{% load static %}

{% include 'partials/_alert.html' %}

<h1> this is about.html </h1>
{% for library in library_list %}
<h3>the counter is {{forloop.counter}}</h3>
<h3>the library district is {{library.district}}</h3>
<h3>the library address is {{library.address}}</h3>
<img src="{{library.photo_main.url}}" alt="{{library.district}}" />
<br/>

{% endfor %}
{% endblock %}

{% if user.is_authenticated%}
display reserve

{% else%}
{% endif %}