{% extends 'base.html' %} 
{% load humanize %}
<!-- add title to the tab-->
{% block title %} | Welcome {% endblock %}
{% block content %}
<!-- Showcase -->
<section id="showcase">
  <div class="container text-center">
    <div class="home-search p-5">
      <div class="overlay p-5">
        <h1 class="display-4 mb-4">Property Searching Just Got So Easy</h1>
        <p class="lead">
          Provides a wide range of services,including self-service book 
          lending machines,book return boxes,information terminals  
          and multimedia information systems
        </p>
        <div class="search">
          <form action="{% url 'search' %}">
            <!-- Form Row 1 -->
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label class="sr-only">Keywords</label>
                <input
                  type="text"
                  name="keywords"
                  class="form-control"
                  placeholder="Keyword (Bathrooms, ClubHouse, etc)"
                />
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">Title</label>
                <input
                  type="text"
                  name="title"
                  class="form-control"
                  placeholder="Title"
                />
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">District</label>
                <select name="District" class="form-control">
                  <option selected="true" disabled="disabled">
                    District (All)
                  </option>
                  {% for key,value in district_choices.items %}
                  <option value="{{key}}">{{value}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <!-- Form Row 2 -->
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label class="sr-only">Bedrooms</label>
                <select name="bedrooms" class="form-control">
                  <option selected="true" disabled="disabled">
                    Bedrooms (All)
                  </option>
                   {% for key,value in bedroom_choices.items %}
                  <option value="{{key}}">{{value}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <select name="price" class="form-control" id="type">
                  <option selected="true" disabled="disabled">
                    Max Price (Any)
                  </option>
                  {% for key,value in price_choices.items %} 
                  <option value="{{key}}">{{value}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <button class="btn btn-secondary btn-block mt-4" type="submit">
              Submit form
            </button>
          </form>
          <!-- Add your button here -->
          <title>Button Example</title>
          <style>
              .button {
                  background-color: #20c997; 
                  border: none;
                  color: white;
                  padding: 5px 22px;
                  text-align: center;
                  text-decoration: none;
                  display: inline-block;
                  font-size: 16px;
                  margin: 4px 2px;
                  cursor: pointer;
              }
              .info {
                  display: none;
                  margin-top: 20px;
              }
              .info img {
                  max-width: 100%; 
                  height: auto;
              }
              .percentage-size {
                width: 10%;
                height: auto; 
            }
          </style>
      </head>
      <body>
          <button class="button btn btn-primary mt-4" onclick="showInfo()">xxx</button>
          <div class="info" id="info">
              <p>xxxx。</p>
              <p>xxxx。</p>
              <p>xxxx。</p>
              <img src="/media/photo/2024/09/10/mark.jpg" alt="Image 1" class="percentage-size">
          </div>
      
          <script>
              function showInfo() {
                  var info = document.getElementById("info");
                  if (info.style.display === "none") {
                      info.style.display = "block";
                  } else {
                      info.style.display = "none";
                  }
              }
          </script>
      </body>
      </html>
        </div>
      </div>
    </div>
  </div>
</section>
{% include 'partials/_alert.html' %}
<!-- Listings -->
<section id="listings" class="py-5">
  <div class="container">
    <h3 class="text-center mb-3">Latest Listings</h3>
    <div class="row">
      <!-- Listing 1 -->
      {% if listings %}
      <!--for loop to gen items-->
      {% for listing in listings %}
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card listing-preview">
          <img class="card-img-top" src="{{listing.photo_main.url}}" alt="" />
          <div class="card-img-overlay">
            <h2>
              <span class="badge badge-secondary text-white"
                >${{listing.price | intcomma}}</span
              >
            </h2>

          </div>
          <div class="card-body">
            <div class="listing-heading text-center">
              <h4 class="text-primary">{{listing.title}}</h4>
              <p>
                <i class="fas fa-map-marker text-secondary"></i
                >{{listing.district}}
              </p>
            </div>
            <hr />
            <div class="row py-2 text-secondary">
              <div class="col-6">
                <i class="fas fa-th-large"></i>
                Sqft: {{listing.sqft | intcomma}}
              </div>
              <div class="col-6">
                <i class="fas fa-dumbbell"></i> ClubHouse: {{listing.clubhouse}}
              </div>
            </div>
            <div class="row py-2 text-secondary">
              <div class="col-6">
                <i class="fas fa-bed"></i> Bedrooms: {{listing.bedrooms}}
              </div>
              <div class="col-6">
                <i class="fas fa-bath"></i> Bathrooms: {{listing.bathrooms}}
              </div>
            </div>
            <hr />
            <div class="row py-2 text-secondary">
              <div class="col-6">
                <i class="fas fa-user"></i>{{listing.realtor}}
              </div>
            </div>
            <div class="row text-secondary pb-2">
              <div class="col-6">
                <i class="fas fa-clock"></i>{{listing.list_date | timesince}}
              </div>
            </div>
            <hr />
            <a href={% url 'listing' listing.id %} class="btn btn-primary btn-block"
              >More Info</a
            >
          </div>
        </div>
      </div>
      {% endfor %}
      <!-- end for loop block-->
      {% else %}
      <div class="col-md-12">
        <p>No Listing Available</p>
      </div>
      {% endif %}
    </div>
  </div>
</section>

<section id="services" class="py-5 bg-secondary text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <i class="fas fa-comment fa-4x mr-4"></i>
        <hr />
        <h3>Depository Library for International Organizations</h3>
        <p>
          The Hong Kong Central Library is designated as a depository library 
          for nine international organizations, including the Asian Development Bank, 
          the European Union, the International Labour Organization, and UNESCO.
        </p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-home fa-4x mr-4"></i>
        <hr />
        <h3>Multimedia Information System</h3>
        <p>
          The library is equipped with a multimedia 
          information system that offers digital library functions, 
          allowing readers to access materials through computer terminals.
        </p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-suitcase fa-4x mr-4"></i>
        <hr />
        <h3>Smart Design</h3>
        <p>
          ach floor uses a networked floor design for easy connection 
          to power and other computer systems. All desks provide power outlets, 
          allowing patrons to use their laptops for wireless internet access.
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
